/* 
********
RESET
********
 */

 * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* 
********
DEBUG
********
*/

/* #region */

.debug header .container {
    background-color: orange;
    /* height: 76px; */
}

.debug header .container .logo,
.debug header .container .navigation {
    background-color: green;
}

.debug main .container .card,
.debug main .container .card-large {
    height: 346px;
    border: 1px solid black;
}

.debug main .planning .planning-column {
    height: 735px;
    background-color: green;
}

.debug main .planning .app-development {
    height: 555px;
}

.debug main .testimonials .testimonials-intro {
    height: 240px;
}

.debug main .testimonials .testimonial-card {
    height: 200px;
}

.debug main .testimonials .testimonial-image,
.debug main .testimonials .testimonial-content {
    background-color: aquamarine;
    border: 1px solid black;
    height: 200px;
}

.debug main .about-us .container .about-us-text {
    background-color: orange;
}

.debug main .about-us .container .about-us-aside {
    background-color: green;
}


/* #endregion */

/* 
********
TYPOGRAPHY
********
*/

/* #region */

body {
    font-family: 'PT Sans', sans-serif;
}

/* #endregion */

/* 
********
VARIABLES
********
*/

/* #region */

:root {
    --header: #0084fd;
    --boxes: #b5ddff;
    --text-main: #111111;
    --call-to-action: #fdc15f;
    --background-one: #ffffff;
    --background-two: #9792e4;
    --background-footer: #333333;
}

/* #endregion */

/* 
********
COMMON
********
*/

/* #region */

.flex {
    display: flex;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    width: calc(100% - 64px);
}

main section:nth-of-type(odd) {
    background-color: var(--background-one);
}

main section:nth-of-type(even) {
    background-color: var(--background-two);
}

/* #endregion */

/* 
********
HEADER
********
*/

/* #region */

header {
    background-color: var(--header);
}

header .container {
    justify-content: space-between;
    padding-top: 16px;       /* Check this! */
    padding-bottom: 20px;    /* Check this! */
}

/* #endregion */

/* 
********
MAIN
********
*/

/* #region */

/* Jumbotron */

main .jumbo {
    padding: 50px 0 104px;
}

main .jumbo .container .card,
main .jumbo .container .card-large {
    background-color: var(--boxes);
}

main .jumbo .container {
    flex-wrap: wrap;
    gap: 24px;
}

main .jumbo .container .card {
    flex-basis: calc((100% - 48px) / 3);
}

main .container .card-large {
    flex-basis: calc((100% - 48px) / 3 * 2 + 24px);
}

@media screen and (max-width: 767px) {
    main .jumbo .container .card,
    main .jumbo .container .card-large {
        flex-basis: 100%;
    }
}

@media screen and (max-width: 767px) {
    main .jumbo {
        padding-bottom: 80px;
    }
}

/* Strategic planning */

main .planning .container {
    padding: 132px 132px 64px;
    gap: 60px;
    align-items: flex-end;
}

main .planning .planning-column {
    width: 60%;
}

main .planning .app-development {
    width: 40%;
    background-color: var(--background-one);
}

@media screen and (max-width: 991px) {
    main .planning .container {
        padding: 132px 0 64px;
        flex-direction: column;
        gap: 35px;
    }

    main .planning .planning-column,
    main .planning .app-development {
        width: 100%;
    }
}

@media screen and (max-width: 767px) {
    main .planning .container {
        padding: 64px 0 64px;
    }
}

/* Testimonials */

main .testimonials {
    padding: 65px 0 79px;
}

main .testimonials .testimonials-intro {
    padding: 0 27px 54px;
    text-align: center;
}

main .testimonials .testimonial-card {
    background-color: var(--background-two);
    gap: 5%;
    align-items: center;
    margin-bottom: 33px;
    padding: 32px 16px;
}

main .testimonials .testimonial-card .testimonial-image {
    width: 235px;
}

main .testimonials .testimonial-card .testimonial-content {
    flex-grow: 1;
}

@media screen and (max-width: 767px) {
    main .testimonials .testimonial-card {
        flex-direction: column;
        text-align: center;   /* Check this! */
    }

}

/* Benefits */

main .benefits h2 {
    text-align: center;
    padding: 70px 0 60px;
}

main .benefits .container .card {
    background-color: var(--background-one);
}

main .benefits .container {
    padding-bottom: 64px;
}

main .benefits .container {
    flex-wrap: wrap;
    gap: 32px;
}

main .benefits .container .card {
    flex-basis: calc((100% - 64px) / 3);
}

@media screen and (max-width: 991px) {
    main .benefits .container .card {
        flex-basis: calc((100% - 32px) / 2)
    }
}

@media screen and (max-width: 767px) {
    main .benefits .container .card {
        flex-basis: 100%;
    }
}

/* About us */

main .about-us .container {
    padding: 97px 50px 150px;
    gap: 10%;
}

main .about-us .container .about-us-text {
    width: 75%;
}

main .about-us .container .about-us-aside {
    width: 25%;
}

@media screen and (max-width: 767px) {
    main .about-us .container {
        padding: 85px 0 80px;
        flex-direction: column;
        gap: 60px;
    }

    main .about-us .container .about-us-text,
    main .about-us .container .about-us-aside {
        width: 100%;
    }
}

/* #endregion */

/* 
********
FOOTER
********
*/

/* #region */

/* #endregion */