/* 
********
RESET
********
 */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* 
********
TYPOGRAPHY
********
*/

/* #region */

body {
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
}

h2 {
    font-size: 48px;
}

h6 {
    font-size: 24px;
}

header a,
header i {
    color: var(--background-one);
    text-decoration: none;
} 

header i {
    font-size: 20px;
}

main .jumbo .card-large,
main .jumbo .card {
    font-size: 18px;
    font-weight: 700;
}

main .jumbo .card-large h4,
main .jumbo .card h4 {
    color: var(--header);
    font-size: 24px;
}
 
main .jumbo .card-large p,
main .jumbo .card p {
    color: var(--card-text);
    line-height: 30px;
}

main .jumbo .card .card-icon {
    color: var(--header);
    font-size: 80px;
}

main .planning .planning-column {
    color: var(--background-one);
}

main .planning .planning-column h5 {
    font-size: 34px;
}

main .planning .planning-column p {
    line-height: 30px;
}

main .planning .app-development p {
    font-size: 18px;
    line-height: 30px;
}

main .testimonials .testimonials-intro div,
main .testimonials .testimonials-intro p {
    font-size: 20px;
}

main .testimonials .testimonials-intro h2 {
    color: var(--background-two);
}

main .testimonials .testimonial-card {
    color: var(--background-one);
    font-size: 20px;
}

main .testimonials .testimonial-card .testimonial-name {
    font-weight: 700;
    letter-spacing: 2px;
}

main .benefits h2 {
    color: var(--background-one);
}

main .benefits .card .benefit-number,
main .benefits .card h6 {
    color: var(--background-two);
}

main .benefits .card .benefit-number {
    font-size: 72px;
    font-weight: 700;
}

main .benefits .card p {
    line-height: 30px;
}

main .about-us h3 {
    color: var(--background-two);
    font-size: 72px;
}

main .about-us .about-us-text p {
    font-size: 20px;
    line-height: 50px;
}

main .about-us .about-us-aside p {
    color: var(--background-two);
    font-size: 30px;
    line-height: 40px;
    font-weight: 700;
}

main .call-to-action {
    color: var(--background-one);
}

main .call-to-action .get-started-text {
    color: #cbc9f1;
    font-size: 18px;
}

main .call-to-action .get-started-subtitle {
    font-size: 48px;
    font-weight: 700;
}

main .call-to-action .get-started-free {
    color: #fdc15f;
    font-size: 96px;
    font-weight: 700;
} 

main .call-to-action .copyright a {
    color: var(--background-one);
}

footer {
    color: var(--background-one);
}

footer p a {
    color: var(--background-two);
}

/* #endregion */

/* 
********
VARIABLES
********
*/

/* #region */

:root {
    --header: #0084fd;
    --boxes: #b5ddff;
    --text-main: #111111;
    --call-to-action: #fdc15f;
    --background-one: #ffffff;
    --background-two: #9792e4;
    --background-footer: #333333;
    --card-text: #5a6e7f;
}

/* #endregion */

/* 
********
COMMON
********
*/

/* #region */

.flex {
    display: flex;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    width: calc(100% - 64px);
}

.container-small {
    max-width: 408px;
    margin: 0 auto;
}

img {
    display: block;
}

main section:nth-of-type(odd) {
    background-color: var(--background-one);
}

main section:nth-of-type(even) {
    background-color: var(--background-two);
}

.btn {
    all: unset;
}

.btn:hover {
    cursor: pointer;
}

.btn.mini {
    padding: 7px 16px;
    border-radius: 21px;
}

.btn.small {
    padding: 9px 21px;
    border-radius: 19px;
}

.btn.medium {
    padding: 12px 60px;
    border-radius: 22px;
    letter-spacing: 2px;
}

.btn.big {
    padding: 20px 70px;
    letter-spacing: 2px;
    border-radius: 40px;
    font-size: 18px;
    font-weight: 700;
}

.btn.round {
    width: 60px;
    height: 60px;
    text-align: center;
    border-radius: 50%;
    font-size: 20px;
} 

.btn.white {
    background-color: #ffffff;
}

.btn.white a {
    color: #000000;
}

.call-to-action .btn.white {
    color: var(--background-two);
}

.btn.blue {
    background-color: var(--header);
    color: var(--background-one);
}

.btn.violet,
.btn.violet2 {
    background-color: var(--background-two);
}

.btn.violet {
    color: #ffffff;
}

/* #endregion */

/* 
********
HEADER
********
*/

/* #region */

header {
    background-color: var(--header);
}

header .container {
    justify-content: space-between;
    padding: 16px 0;
}

header ul.navbar {
    list-style: none;
    gap: 33px;
    align-items: center;
}

header .hamburger {
    display: none;
}

@media screen and (max-width: 991px) {
    header ul.navbar {
        display: none;
        position: absolute;
        top: 10px;
        right: 0;
        flex-direction: column;
        background-color: var(--header);
        padding: 16px 5px 16px;
    }

    header .hamburger {
        display: flex;
        align-items: center;
        height: 100%;
    }

    header .hamburger:hover + ul,
    header ul.navbar:hover {
        display: flex;
    }
}

/* header  */

/* #endregion */

/* 
********
MAIN
********
*/

/* #region */

/* Jumbotron */

main .jumbo {
    padding: 50px 0 104px;
    background-color: red;
}

main .jumbo .container .card,
main .jumbo .container .card-large {
    background-color: var(--boxes);
    border-radius: 16px;
}

main .jumbo .container {
    flex-wrap: wrap;
    gap: 24px;
}

main .jumbo .container .card {
    flex-basis: calc((100% - 48px) / 3);
}

main .jumbo .container .card-large {
    flex-basis: calc((100% - 48px) / 3 * 2 + 24px);
}

main .jumbo .card-large .card-large-content {
    width: 50%;
    padding: 30px 0 60px 25px;
}

main .jumbo .card-large .card-large-content p {
    margin: 36px 0;
}

main .jumbo .card-large .card-large-image {
    width: 260px;
}

main .jumbo .card-large .card-large-image {
    align-self: flex-end;
    margin-left: 50px;
}

main .jumbo .card-large img {
    width: 100%;
}

main .jumbo .card {
    padding: 26px 25px;
    text-align: center;
}

main .jumbo .card .card-icon {
    margin-bottom: 16px;
}

main .jumbo .card p {
    margin-top: 26px;
}

@media screen and (max-width: 991px) {
    main .jumbo .card-large {
        flex-direction: column;
    }

    main .jumbo .card-large .card-large-image {
        align-self: flex-start;
        margin-left: 25px;
    }

    main .jumbo .card-large .card-large-content {
        width: 100%;
        padding-right: 30px;
    }
}

@media screen and (max-width: 767px) {
    main .jumbo .container .card,
    main .jumbo .container .card-large {
        flex-basis: 100%;
    }

    main .jumbo {
        padding-bottom: 80px;
    }
}

/* Strategic planning */

main .planning .container {
    padding: 132px 132px 64px;
    gap: 60px;
    align-items: flex-end;
}

main .planning .planning-column {
    width: 50%;
}

main .planning .planning-column img {
    width: 100%;
}

main .planning .planning-column h5 {
    margin: 130px 0 40px;
}

main .planning .app-development {
    width: 50%;
    background-color: var(--background-one);
    text-align: center;
    padding: 32px 40px;
    border-radius: 50px;
}

main .planning .app-development img {
    width: 80%;
    margin: 0 auto;
}

main .planning .app-development h6 {
    margin: 20px 0;
}

main .planning .app-development p {
    margin-bottom: 36px;
}

@media screen and (max-width: 991px) {
    main .planning .container {
        padding: 132px 0 64px;
        flex-direction: column;
        gap: 35px;
    }

    main .planning .planning-column,
    main .planning .app-development {
        width: 100%;
    }
}

@media screen and (max-width: 767px) {
    main .planning .container {
        padding: 64px 0 64px;
    }
}

/* Testimonials */

main .testimonials {
    padding: 65px 0 79px;
}

main .testimonials .testimonials-intro {
    padding: 0 27px 54px;
    text-align: center;
}

main .testimonials .testimonials-intro h2 {
    margin: 30px 0;
}

main .testimonials .testimonial-card {
    background-color: var(--background-two);
    border-radius: 50px;
    gap: 5%;
    align-items: center;
    margin-bottom: 33px;
    padding: 32px 16px;
}

main .testimonials .testimonial-card .testimonial-image {
    width: 235px;
    height: 235px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    flex-shrink: 0;
}

main .testimonials .testimonial-card .testimonial-image img {
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

main .testimonials .testimonial-card .testimonial-content {
    flex-grow: 1;
}

main .testimonials .testimonial-card .testimonial-content p::before,
main .testimonials .testimonial-card .testimonial-content p::after {
    font-size: 72px;
    line-height: 1px;
    position: relative;
    top: 36px;
}

main .testimonials .testimonial-card .testimonial-content p::before {
    content: "“";
    margin-right: 5px;
}

main .testimonials .testimonial-card .testimonial-content p::after {
    content: "”";
    margin-left: 5px;
}

main .testimonials .testimonial-card .testimonial-content p {
    margin-bottom: 30px;
}

@media screen and (max-width: 767px) {
    main .testimonials .testimonial-card {
        flex-direction: column;
        text-align: center;
    }

}

/* Benefits */

main .benefits h2 {
    text-align: center;
    padding: 70px 0 60px;
}

main .benefits .container .card {
    background-color: var(--background-one);
    border-radius: 16px;
    padding: 32px;
}

main .benefits .container .card p {
    margin: 25px 0;
}

main .benefits .container {
    padding-bottom: 64px;
}

main .benefits .container {
    flex-wrap: wrap;
    gap: 32px;
}

main .benefits .container .card {
    flex-basis: calc((100% - 64px) / 3);
}

@media screen and (max-width: 991px) {
    main .benefits .container .card {
        flex-basis: calc((100% - 32px) / 2)
    }
}

@media screen and (max-width: 767px) {
    main .benefits .container .card {
        flex-basis: 100%;
    }
}

/* About us */

main .about-us .container {
    padding: 97px 50px 100px;
    gap: 10%;
}

main .about-us .about-us-text {
    width: 75%;
}

main .about-us .about-us-text h3 {
    margin-bottom: 20px;
}

main .about-us .about-us-text p {
    margin-bottom: 40px;
}

main .about-us .about-us-aside {
    width: 240px;
}

main .about-us .about-us-aside .about-us-img {
    position: relative;
    margin-bottom: 25px;
}

main .about-us .about-us-aside .about-us-img img {
    width: 100%;
    border-radius: 50%;
}

main .about-us .about-us-aside .about-us-img .quotation-marks {
    color: var(--background-two);
    font-size: 220px;
    position: absolute;
    top: -50px;
    right: 0;
}

main .about-us .about-us-aside p {
    margin-bottom: 24px;
}

main .about-us .about-us-aside i {
    margin-right: 8px;
}

@media screen and (max-width: 767px) {
    main .about-us .container {
        padding: 85px 0 80px;
        flex-direction: column;
        gap: 60px;
    }

    main .about-us .container .about-us-text,
    main .about-us .container .about-us-aside {
        width: 100%;
    }

    main .about-us .about-us-aside .about-us-img {
        width: 240px;
    }
}

/* Call to action */

main .call-to-action .container {
    text-align: center;
    padding: 65px 0 65px;
}

main .call-to-action .get-started-subtitle {
    margin: 18px 0 24px;
}

main .call-to-action p {
    margin: 28px auto 36px;
    max-width: 464px;
}

main .call-to-action .copyright {
    margin-top: 36px;
}

/* #endregion */

/* 
********
FOOTER
********
*/

/* #region */

footer {
    background-color: var(--background-footer);
    padding: 40px 32px 40px;
}

footer .container-small {
    text-align: center;
}

footer .footer-links {
    margin-top: 64px;
}

/* #endregion */